body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#dropZone {
    width: 80%;
    max-width: 600px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #aaa;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.3s;
}

#dropZone.dragover {
    background-color: #e0e0e0;
    border-color: #000;
    color: #000;
}

#fileContent {
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

pre, code {
    overflow: auto;
}

#pageContainer {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
}

#blocklyDiv {
    flex-basis: 100%;
    height: 100%;
    min-width: 600px;
}

#buttonWrapper{
  margin-top: 10x;
}

#CodeContainer{
    margin-right:50%;

}
#generatedCode {
    height: 50%;
    background-color: rgb(247, 240, 228);
}

#output {
    height: 50%;
}

.code-box {
    border: 2px solid #333;
    padding: 10px;
    border-radius: 5px;
    width: 70%; /* You can adjust the width as needed */
    margin: 20px auto; /* Centers the box horizontally and adds top/bottom margin */
    overflow: auto; /* Adds scrollbar if content overflows */
    background-color: #fff; /* Optional: Adds background color to the code box */
}

/* Style the code inside the box */
.code-box pre {
    margin: 0;
}

/* Style the scrollbar */
.code-box::-webkit-scrollbar {
    width: 8px;
}

.code-box::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.code-box::-webkit-scrollbar-thumb {
    background: #888;
}

.code-box::-webkit-scrollbar-thumb:hover {
    background: #555;
}
